RewriteEngine On
php_flag display_errors Off
#php_value error_reporting 6143
php_flag magic_quotes_gpc Off
php_value magic_quotes_gpc Off

php_value upload_max_filesize 5M
php_value post_max_size 6M

<IfModule mod_php5.c>
php_value max_execution_time 259200
</IfModule>
RewriteRule ^testing/run?$ test-table.php?run=true [QSA,L]
RewriteRule ^testing/([0-9]+)?$ test-table.php?id=$1 [QSA,L]
RewriteRule ^testing?$ test-table.php [QSA,L]
RewriteRule ^test-table.php?$ test-table.php [QSA,L]
RewriteRule ^simpletest.php?$ simpletest.php [QSA,L]
RewriteRule ^resolver/page/([0-9]+)?$ resolver-page.php?page=$1 [QSA,L]
RewriteRule ^resolver/([^/]+)?$ resolver-page.php?id=$1 [QSA,L]
RewriteRule ^resolver?$ resolver-page.php [QSA,L]
RewriteRule ^resolver-page.php?$ resolver-page.php [QSA,L]
RewriteRule ^$ index.php [QSA,L]
RewriteRule ^index.php index.php [QSA,L]
RewriteRule ^faq/([^/]+)/([^/]+)?$ faq-page.php?type=$1&id=$2 [QSA,L]
RewriteRule ^404/([^/]+)?$ errorr.php?type=404&name=$1 [QSA,L]
RewriteRule ^private/([^/]+)?$ errorr.php?type=private&name=$1 [QSA,L]
RewriteRule ^faq/([^/]+)?$ faq-page.php?type=$1 [QSA,L]
RewriteRule ^faq?$ faq-page.php.php [QSA,L]

RewriteRule ^browse/([^/]+)/original/([^/]+)/([0-9]+)/edit?$ browser.php?type=$1&id=$2&article=$3&mode=edit&use=original_id [QSA,L]
RewriteRule ^browse/([^/]+)/original/([^/]+)/edit?$ browser.php?type=$1&id=$2&mode=edit&use=original_id [QSA,L]
RewriteRule ^browse/([^/]+)/original/([^/]+)/([0-9]+)?$ browser.php?type=$1&id=$2&article=$3&use=original_id [QSA,L]
RewriteRule ^browse/([^/]+)/original/([^/]+)?$ browser.php?type=$1&id=$2&use=original_id [QSA,L]

RewriteRule ^browse/([^/]+)/([^/]+)/page/([0-9]+)?$ browser.php?type=$1&id=$2&page=$3 [QSA,L]
RewriteRule ^browse/([^/]+)?$ browser.php?type=$1 [QSA,L]
RewriteRule ^browse/([^/]+)/page/([0-9]+)?$ browser.php?type=$1&page=$2 [QSA,L]
RewriteRule ^browse/([^/]+)/([^/]+)/([0-9]+)/edit?$ browser.php?type=$1&id=$2&article=$3&mode=edit [QSA,L]
RewriteRule ^browse/([^/]+)/([^/]+)/edit?$ browser.php?type=$1&id=$2&mode=edit [QSA,L]
RewriteRule ^browse/([^/]+)/([^/]+)/([0-9]+)?$ browser.php?type=$1&id=$2&article=$3 [QSA,L]
RewriteRule ^browse/([^/]+)/([^/]+)?$ browser.php?type=$1&id=$2 [QSA,L]
RewriteRule ^browse/([^/]+)/([^/]+)/page/([0-9]+)?$ browser.php?type=$1&id=$2&page=$3 [QSA,L]
RewriteRule ^browse/([^/]+)?$ browser.php?type=$1 [QSA,L]
RewriteRule ^browse?$ browser.php [QSA,L]
RewriteRule ^create/([^/]+)?$ creater.php?type=$1 [QSA,L]
RewriteRule ^information/([^/]+)?$ pages.php?page=$1 [QSA,L]
RewriteRule ^pages.php pages.php [QSA,L]
RewriteRule ^account/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ profile.php?page=$1&arg1=$2&arg2=$3&arg3=$4&arg4=$5 [QSA,L]
RewriteRule ^account/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ profile.php?page=$1&arg1=$2&arg2=$3&arg3=$4 [QSA,L]
RewriteRule ^account/([^/]+)/([^/]+)/([^/]+)?$ profile.php?page=$1&arg1=$2&arg2=$3 [QSA,L]
RewriteRule ^account/([^/]+)/([^/]+)?$ profile.php?page=$1&arg1=$2 [QSA,L]
RewriteRule ^account/([^/]+)?$ profile.php?page=$1 [QSA,L]
RewriteRule ^account?$ profile.php [QSA,L]
RewriteRule ^browser.php browser.php [QSA,L]
RewriteRule ^errorr.php errorr.php [QSA,L]
RewriteRule ^faq-page.php faq-page.php [QSA,L]
RewriteRule ^creater.php creater.php [QSA,L]
RewriteRule ^register?$ registrar.php [QSA,L]
RewriteRule ^registrar.php registrar.php [QSA,L]
RewriteRule ^profile.php profile.php [QSA,L]
RewriteRule ^page/([^/]+)/([0-9]+)?$ component-data.php?type=$1&id=$2 [QSA,L]
RewriteRule ^page/([^/]+)?$ component-data.php?type=$1 [QSA,L]
RewriteRule ^component-data.php component-data.php [QSA,L]

RewriteCond %{REQUEST_URI} "/HTML/"
  RewriteRule (.*) $1 [L]

RewriteRule ^verification?$ verification-redirect.php [QSA,L]
RewriteRule ^verification/([^/]+)?$ verification-redirect.php?verstring=$1 [QSA,L]
RewriteRule ^verification-redirect.php verification-redirect.php [QSA,L]
RewriteRule ^([^/]+)/stripped/join?$ community-redirect.php?portalName=$1&type=join&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4&arg3=$5&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/account?$ community-redirect.php?portalName=$1&type=account&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/?$ community-redirect.php?portalName=$1&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)/page/([0-9]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&page=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)/([^/]+)/([^/]+)/edit?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&article=$4&mode=edit&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)/([^/]+)/edit?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&mode=edit&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&article=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/about/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&page=$5&view=$6&uuid=$7&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&page=$5&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/source/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&view=$5&uuid=$6&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/source/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&page=$4&view=$5&uuid=$6&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&page=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&view=$4&uuid=$5&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/source/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&page=$4&view=$5&uuid=$6&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/source/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&page=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/source/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&view=$4&uuid=$5&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/source/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&page=$3&view=$4&uuid=$5&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&page=$3&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&view=$3&uuid=$4&stripped=true [QSA,L]
RewriteRule ^([^/]+)/stripped/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&stripped=true [QSA,L]

RewriteRule ^([^/]+)/join?$ community-redirect.php?portalName=$1&type=join [QSA,L]
RewriteRule ^([^/]+)/account/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6 [QSA,L]
RewriteRule ^([^/]+)/account/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4&arg3=$5 [QSA,L]
RewriteRule ^([^/]+)/account/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3&arg2=$4 [QSA,L]
RewriteRule ^([^/]+)/account/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2&arg1=$3 [QSA,L]
RewriteRule ^([^/]+)/account/([^/]+)?$ community-redirect.php?portalName=$1&type=account&page=$2 [QSA,L]
RewriteRule ^([^/]+)/account?$ community-redirect.php?portalName=$1&type=account [QSA,L]
RewriteRule ^([0-9]+)/resource/([^/]+)?$ community-redirect.php?portalName=nif&type=search&category=literature&pmid=$1&resource=$2 [QSA,L]
RewriteRule ^([0-9]+)?$ community-redirect.php?portalName=nif&type=search&category=literature&pmid=$1 [QSA,L]
RewriteRule ^([^/]+)/?$ community-redirect.php?portalName=$1 [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)/page/([0-9]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&page=$3 [QSA,L]

# added new rule to handle things like /about/d3r/datasets
RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)/page/([0-9]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&page=$4 [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&page=$4 [QSA,L]

RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)/([^/]+)/edit?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&article=$4&mode=edit [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)/edit?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&mode=edit [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3&article=$4 [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2&id=$3 [QSA,L]
RewriteRule ^([^/]+)/about/([^/]+)?$ community-redirect.php?portalName=$1&type=about&title=$2 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&page=$5&view=$6&uuid=$7 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&page=$5 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/source/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4&view=$5&uuid=$6 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/source/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&nif=$4 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&page=$4&view=$5&uuid=$6 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&page=$4 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3&view=$4&uuid=$5 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&subcategory=$3 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&page=$4&view=$5&uuid=$6 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/source/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&page=$4 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/source/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3&view=$4&uuid=$5 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/source/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&nif=$3 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/page/([0-9]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&page=$3&view=$4&uuid=$5 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/page/([0-9]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&page=$3 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/record/([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2&view=$3&uuid=$4 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/search?$ community-redirect.php?portalName=$1&type=search&category=$2 [QSA,L]
RewriteRule ^([^/]+)?$ $1 [QSA,L]
